$one-rem: 16px;

$url-path: "../../";

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$blue-color: #0937a4;
$dark-color: #132025;

/*fonts*/
$fontMain: "Gotham Pro", sans-serif;
$colorMain: #2b3035;
$colorBlue: #0937a4;